.form{
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #e8e9eb;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;

    h2{
        font-size: 27px;
        text-align: center;
    }
    hr{
        margin-bottom: 30px;
    }
}